*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.yellow{
    color: yellow
}

.black{
    color: black;
}

.book{
    margin-top: 40px;
}

.book-name{
    text-align: center;
}

.rating{
    margin-top: 10px;
}